{% extends 'layouts/base.html' %}

{% block title %} Tables {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<h2>Select Parameters</h2>

<form>
  <label for="param1">Parameter 1:</label>
  <select id="param1" name="param1">
    <option value="value1">Value 1</option>
    <option value="value2">Value 2</option>
    <option value="value3">Value 3</option>
  </select>
  <br><br>
  
  <label for="param2">Parameter 2:</label>
  <select id="param2" name="param2">
    <option value="value1">Value 1</option>
    <option value="value2">Value 2</option>
    <option value="value3">Value 3</option>
  </select>
  <br><br>
  
  <label for="param3">Parameter 3:</label>
  <select id="param3" name="param3">
    <option value="value1">Value 1</option>
    <option value="value2">Value 2</option>
    <option value="value3">Value 3</option>
  </select>
  <br><br>
  
  <label for="param4">Parameter 4:</label>
  <select id="param4" name="param4">
    <option value="value1">Value 1</option>
    <option value="value2">Value 2</option>
    <option value="value3">Value 3</option>
  </select>
  <br><br>
  
  <input type="submit" value="Submit">
</form>

</body>

{% include "includes/footer.html" %}


{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
<script src="{{ url_for('static', filename='assets/js/admin.js') }}"></script>





{% endblock javascripts %}

</html>