body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  #spotify-player,
  #chart-container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .chart-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .chart-item .song-name {
    flex: 1;
  }
  
  .chart-item .vote-count {
    margin-left: 10px;
    font-weight: bold;
  }
  
  form {
    text-align: center;
  }
  
  input {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  #search-results-container {
    margin-top: 20px;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 20px;
  }
  
  h3 {
    font-size: 20px;
    margin-bottom: 5px;
  }
  
  p {
    margin: 0;
  }
  
  .vote-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 3px;
  }