<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Music Voting App</title>
</head>
<body>
    
    <div class="container">
        <img class="logo" src="{{ url_for('static', filename='path/to/your/logo.png') }}" alt="Company Logo">
        <h1>Welcome to the Music Voting App!</h1>

        <p>
            Here, you can vote for the music you want to hear in the pub.
        </p>

        <p>
            <a href="{{ url_for('search') }}" class="btn">Start Voting</a>
        </p>
    </div>

    <div id="qr-instructions">
        <h2>Get Started</h2>
        <p>To vote for your favorite music, simply scan the QR code provided by the pub with your phone's camera.</p>
        <p>Look for the QR code on your table or ask a staff member for assistance if you can't find it.</p>
        <p>Once scanned, you'll be directed to the voting page where you can choose the next song to play!</p>
    </div>
</div>

</body>
</html>