<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Queue</title>
 
</head>
<body>

    
    <div class="queue-container">
        <header>
            <img src="{{ url_for('static', filename='logo.png') }}" alt="O'Sully's Logo" class="logo">
            <h2>File d'attente</h2>
        </header>
        <!-- Inside the queue container, add a placeholder for the empty message -->
    <div class="queue">
       
    </div>
    <!-- Song entries will be inserted here by JavaScript -->
    <div class="now-playing-bar">
        <img src="" alt="Album Cover" id="album-cover" class="now-playing-cover">
    
        <div class="now-playing-content">
            <div class="now-playing-info">
                <span id="track-title" class="now-playing-title">Song Title</span>
                <span id="track-artist" class="now-playing-artist">Artist Name</span>
            </div>
        
            <div class="progress-container">
                <div class="progress-bar" id="song-progress-bar"></div>
            </div> 
        </div>  
    </div>
    <footer>
            
        <nav>
            <ul>
                <li class="active"><a href="#queue">File d'attente</a></li>
                <li><a href="/searching">Rechercher</a></li>
                <li><a href="#info">Info</a></li>
            </ul>
        </nav>
        
            <!-- ... other footer content ... -->
        
            
        
    </nav>
</footer>
    
<script src="{{ url_for('static', filename='/assets/js/queue.js') }}"></script>
<script src="{{ url_for('static', filename='/assets/js/vote.js') }}"></script>
<script src="{{ url_for('static', filename='/assets/js/search.js') }}"></script>
</body>
</html>
